.agency-review-slider {
  max-width: 918px;
  margin: 0 auto;
}

.agency-review-slider article._review.swiper-slide {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

.agency-review-slider ul._review-stars {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.agency-review-slider ul._review-stars {
  list-style: none;
  display: flex;
  margin: 0;
  align-items: start;
  gap: 5px;
}

ul._review-stars li._review-star {
  color: #f99300;
}

.agency-review-slider .swiper-wrapper {
  padding: 60px 0;
}
.agency-review-slider article._review.swiper-slide p {
  color: #3d4c5e !important;
}

.agency-review-slider .swiper-slide {
  border: 1px solid #3dbb4c;
  border-radius: 8px;
}
.agency-review-slider ._review-info {
  padding: 10px;
}

._review-media img {
  object-fit: cover;
  height: 100%;
}

.agency-review-slider h6._review-author-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #090b0e;
  margin-top: 8px;
}

.agency-review-slider ._review-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agency-review-slider .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  background: #3dbb4c;
}
.agency-review-slider .swiper-pagination-bullet-active {
  outline: 5px solid #ffffff !important;
}
/* desktop  */

@media only screen and (min-width: 992px) {
  .agency-review-slider article._review.swiper-slide {
    gap: 20px;
  }
  .agency-review-slider ._review-info {
    padding: 24px;
  }

  .agency-review-slider ul._review-stars {
    gap: 8px;
  }
}
@media only screen and (min-width: 1200px) {
}

.contact-info:hover .contact-inner p,
.contact-info:hover .contact-inner h3,
.contact-info:hover .contact-inner .elementor-icon.elementor-animation- svg {
  color: #fff;
}
